$light-blue: #87f2fd;
$middle-blue: hsl(194, 85%, 64%);
$dark-blue:#059de0;
$light-grey: #f5f7fb;

$light-orange: #fdde87;
$middle-orange: #f1af55;
$dark-orange: #e04c05;

$light-cold: #21c2f3;
$middle-cold: #21a5f3;
$dark-cold: #2f21f3;


$bg-color: #1e2b53;