.currentTemperatureWrapper {
    height: 25vh;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: #87e0fd;
    /* Old browsers */
    background: -moz-linear-gradient(top, $light-blue 0%, $light-middle-blue 40%, $dark-blue 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $light-blue 0%, $light-middle-blue 40%, $dark-blue 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $light-blue 0%, $light-middle-blue 40%, $dark-blue 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$light-blue', endColorstr='$dark-blue', GradientType=0);
    /* IE6-9 */

    .temperatureValue {
        font-size: 45px;
    }

}